@import '../../_css/common';

.recoverPassword {
  display: grid;
  grid-template-columns: 1fr 45%;
  height: 100vh;
  font-family: var(--font-jost);

  @include mid-break {
    grid-template-columns: 1fr;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/images/image-3.svg');
  }

  p {
    color: var(--color-gray-500);
  }
}

.heroImg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/assets/images/image-3.svg');

  @include mid-break {
    background: none;
    display: flex;
    justify-content: center;
  }
}

.logo {
  margin: 60px;
  width: 30%;
  min-width: 150px;
  z-index: 10;

  @include mid-break {
    width: 45%;
    margin: 10px;
  }
}
