@use '../../_css/queries.scss' as *;

.promotion {
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: 30px;
  margin-bottom: 30px;

  @include small-break {
    grid-template-columns: 1fr;
  }
}

.title {
  font-weight: 400;
}

.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.image {
  min-height: 500px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.dealBtn {
  width: fit-content;

  @include mid-break {
    width: 100%;
  }
}
